In [2]:
import mysql.connector
import pandas as pd

# Connect to the MySQL database
con = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Admin@Yunus111",
    database="dataspark"
)

# Create a cursor object
cursor = con.cursor()

# Define a function to execute queries and return results as a DataFrame
def execute_query(query):
    df = pd.read_sql(query, con)
    return df

In [3]:
gender_distribution_query = """
SELECT 
    gender, 
    COUNT(*) AS customer_count
FROM 
    customers
GROUP BY 
    gender;
"""
gender_distribution_df = execute_query(gender_distribution_query)
print("Gender Distribution:\n", gender_distribution_df)

Gender Distribution:
    gender  customer_count
0  Female            7518
1    Male            7748

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

In [4]:
age_distribution_query = """
SELECT 
    FLOOR((YEAR(CURDATE()) - YEAR(STR_TO_DATE(birthday, '%Y-%m-%d'))) - (RIGHT(CURDATE(), 5) < RIGHT(STR_TO_DATE(birthday, '%Y-%m-%d'), 5))) AS age,
    COUNT(*) AS customer_count
FROM 
    customers
GROUP BY 
    age
ORDER BY 
    age;
"""
age_distribution_df = execute_query(age_distribution_query)
print("\nAge Distribution:\n", age_distribution_df)

Age Distribution:
     age  customer_count
0    22             106
1    23             264
2    24             238
3    25             240
4    26             210
..  ...             ...
63   85             217
64   86             212
65   87             249
66   88             216
67   89             113

[68 rows x 2 columns]

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

In [5]:
customer_segmentation_query = """
SELECT 
    segment, 
    COUNT(*) AS customer_count
FROM 
    merged_data
GROUP BY 
    segment;
"""
customer_segmentation_df = execute_query(customer_segmentation_query)
print("\nCustomer Segmentation:\n", customer_segmentation_df)

Customer Segmentation:
           segment  customer_count
0      middle age           28021
1  senior citizen           32204
2     young adult            2659

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

In [6]:
overall_sales_query = """
SELECT 
    DATE(OrderDate) AS order_date,
    SUM(Quantity * unitpriceusd) AS total_sales
FROM 
    merged_data
GROUP BY 
    order_date
ORDER BY 
    order_date;
"""
overall_sales_df = execute_query(overall_sales_query)
print("\nOverall Sales Performance:\n", overall_sales_df)

Overall Sales Performance:
       order_date  total_sales
0     2016-01-01     37442.42
1     2016-01-02     91366.94
2     2016-01-03       362.64
3     2016-01-04      9524.94
4     2016-01-05     22996.38
...          ...          ...
1636  2021-02-16     27700.99
1637  2021-02-17     77408.70
1638  2021-02-18     35307.64
1639  2021-02-19     36476.44
1640  2021-02-20     61697.45

[1641 rows x 2 columns]

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

In [7]:
sales_by_product_query = """
SELECT 
    p.productname, 
    SUM(m.Quantity) AS total_quantity,
    SUM(m.Quantity * p.unitpriceusd) AS total_sales  
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey  
GROUP BY 
    p.productname
ORDER BY 
    total_sales DESC;
"""
sales_by_product_df = execute_query(sales_by_product_query)
print("\nSales by Product:\n", sales_by_product_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Sales by Product:
                                             productname  total_quantity  \
0                        WWI Desktop PC2.33 X2330 Black           550.0
1           Adventure Works Desktop PC2.33 XD233 Silver           481.0
2            Adventure Works Desktop PC2.33 XD233 Brown           479.0
3            Adventure Works Desktop PC2.33 XD233 Black           462.0
4            Adventure Works Desktop PC2.33 XD233 White           451.0
...                                                 ...             ...
2487                        SV USB Data Cable E600 Pink            27.0
2488                        SV USB Data Cable E600 Grey            23.0
2489  Litware 80mm Dual Ball Bearing Case Fan E1001 ...             4.0
2490               SV USB Sync Charge Cable E700 Silver             8.0
2491                      SV USB Data Cable E600 Silver            16.0

      total_sales
0       505450.00
1       466089.00
2       464151.00
3       447678.00
4       437019.00
...           ...
2487        25.65
2488        21.85
2489        19.96
2490        15.92
2491        15.20

[2492 rows x 3 columns]

In [8]:

sales_by_store_query = """
SELECT 
    s.storekey, 
    SUM(m.Quantity * p.unitpriceusd) AS total_sales
FROM 
    merged_data m
JOIN 
    stores s ON m.storekey = s.storekey
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    s.storekey
ORDER BY 
    total_sales DESC;
"""
sales_by_store_df = execute_query(sales_by_store_query)
print("\nSales by Store:\n", sales_by_store_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Sales by Store:
     storekey  total_sales
0          0  11404324.63
1         55   1417885.41
2         50   1394738.06
3         54   1384396.24
4          9   1336150.06
5         57   1325611.89
6         45   1318787.92
7         61   1305684.43
8         59   1302272.44
9         64   1259350.98
10        43   1250255.14
11         8   1232225.93
12        65   1225040.38
13        66   1220964.38
14        44   1216857.73
15        56   1207253.73
16        53   1193921.14
17        47   1130742.94
18        51   1130592.31
19        48   1058268.50
20        10   1043185.80
21        38    995313.11
22        30    958120.97
23        49    935568.55
24        29    913856.35
25        40    911596.25
26        39    894119.16
27        42    886025.78
28         5    859678.19
29        37    841994.26
30        36    837667.19
31        63    819931.04
32        24    673559.95
33        62    666302.65
34        27    657476.14
35        22    652984.86
36        23    615040.59
37        19    576574.93
38         6    538781.94
39         4    442475.02
40        34    434760.24
41        33    416858.99
42        21    402274.12
43        20    388594.07
44        41    383054.03
45        32    382595.10
46        31    357130.15
47        26    279774.56
48         1    243029.93
49        18    226078.88
50        15    205119.67
51        16    199009.69
52        28    187109.49
53        12    183091.04
54        17    159607.50
55        13    150925.12
56        14    105714.05
57         2     15175.99

In [9]:
sales_by_currency_query = """
SELECT 
    m.CurrencyCode, 
    SUM(m.Quantity * p.unitpriceusd) AS total_sales
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    m.CurrencyCode
ORDER BY 
    total_sales DESC;
"""
sales_by_currency_df = execute_query(sales_by_currency_query)
print("\nSales by Currency:\n", sales_by_currency_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Sales by Currency:
   CurrencyCode   total_sales
0          USD  2.987163e+07
1          EUR  1.136729e+07
2          GBP  7.084088e+06
3          CAD  4.724335e+06
4          AUD  2.708138e+06

In [10]:
product_popularity_query = """
SELECT 
    p.productname, 
    SUM(m.Quantity) AS total_quantity
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    p.productname
ORDER BY 
    total_quantity DESC;
"""
product_popularity_df = execute_query(product_popularity_query)
print("\nProduct Popularity:\n", product_popularity_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Product Popularity:
                                             productname  total_quantity
0                        WWI Desktop PC2.33 X2330 Black           550.0
1                        WWI Desktop PC1.80 E1800 White           538.0
2            Adventure Works Desktop PC1.60 ED160 Black           521.0
3            Adventure Works Desktop PC2.30 MD230 White           521.0
4            Adventure Works Desktop PC1.80 ED180 Black           520.0
...                                                 ...             ...
2487                    Proseware Floor Lamp X0115 Blue             1.0
2488            Adventure Works Chandelier M8150 Silver             1.0
2489             Adventure Works Chandelier M8150 Black             1.0
2490                   Proseware Chandelier M0815 Black             1.0
2491  Litware 16" White Oscillating Stand Fan E701 W...             1.0

[2492 rows x 2 columns]

In [11]:
profitability_analysis_query = """
SELECT 
    p.productname, 
    SUM(m.Quantity * m.unitpriceusd) AS total_revenue, 
    SUM(m.Quantity * p.unitcostusd) AS total_cost, 
    SUM(m.Quantity * m.unitpriceusd) - SUM(m.Quantity * p.unitcostusd) AS profit
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    p.productname
ORDER BY 
    profit DESC;
"""
profitability_analysis_df = execute_query(profitability_analysis_query)
print("\nProfitability Analysis:\n", profitability_analysis_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Profitability Analysis:
                                             productname  total_revenue  \
0                        WWI Desktop PC2.33 X2330 Black      505450.00
1           Adventure Works Desktop PC2.33 XD233 Silver      466089.00
2            Adventure Works Desktop PC2.33 XD233 Brown      464151.00
3            Adventure Works Desktop PC2.33 XD233 Black      447678.00
4            Adventure Works Desktop PC2.33 XD233 White      437019.00
...                                                 ...            ...
2487                        SV USB Data Cable E600 Pink          25.65
2488                        SV USB Data Cable E600 Grey          21.85
2489  Litware 80mm Dual Ball Bearing Case Fan E1001 ...          19.96
2490               SV USB Sync Charge Cable E700 Silver          15.92
2491                      SV USB Data Cable E600 Silver          15.20

      total_cost     profit
0      167464.00  337986.00
1      154425.05  311663.95
2      153782.95  310368.05
3      148325.10  299352.90
4      144793.55  292225.45
...          ...        ...
2487       12.96      12.69
2488       11.04      10.81
2489       10.16       9.80
2490        8.08       7.84
2491        7.68       7.52

[2492 rows x 4 columns]

In [12]:
store_performance_query = """
SELECT 
    s.storekey, 
    s.square_meters, 
    s.open_date, 
    SUM(m.Quantity * p.unitpriceusd) AS total_sales
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
JOIN 
    stores s ON m.storekey = s.storekey
GROUP BY 
    s.storekey
ORDER BY 
    total_sales DESC;
"""
store_performance_df = execute_query(store_performance_query)
print("\nStore Performance:\n", store_performance_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Store Performance:
     storekey  square_meters   open_date  total_sales
0          0              0  2010-01-01  11404324.63
1         55           2000  2009-12-15   1417885.41
2         50           2000  2008-03-06   1394738.06
3         54           2000  2013-06-07   1384396.24
4          9           1500  2005-03-04   1336150.06
5         57           1645  2010-06-03   1325611.89
6         45           2000  2007-07-08   1318787.92
7         61           2000  2012-12-15   1305684.43
8         59           2000  2012-08-08   1302272.44
9         64           1330  2010-01-01   1259350.98
10        43           1190  2015-01-01   1250255.14
11         8           2105  2014-07-02   1232225.93
12        65           1785  2012-01-01   1225040.38
13        66            840  2014-01-01   1220964.38
14        44           2000  2010-06-03   1216857.73
15        56           1260  2015-01-01   1207253.73
16        53           1260  2012-06-06   1193921.14
17        47           1120  2015-04-04   1130742.94
18        51           1295  2010-01-01   1130592.31
19        48           1540  2012-12-15   1058268.50
20        10           1210  2015-04-04   1043185.80
21        38           1800  2015-04-04    995313.11
22        30           2100  2008-01-12    958120.97
23        49           2000  2018-06-03    935568.55
24        29           1000  2008-01-01    913856.35
25        40           1300  2012-06-06    911596.25
26        39           2100  2009-06-03    894119.16
27        42           1900  2009-12-15    886025.78
28         5           2000  2015-12-09    859678.19
29        37           2100  2005-03-04    841994.26
30        36           1300  2014-07-02    837667.19
31        63           2000  2008-03-06    819931.04
32        24           1855  2012-12-15    673559.95
33        62           1120  2018-06-03    666302.65
34        27           2000  2008-08-08    657476.14
35        22           2000  2008-03-06    652984.86
36        23           1365  2010-01-01    615040.59
37        19           1295  2015-04-04    576574.93
38         6           2000  2010-01-01    538781.94
39         4           2000  2010-01-01    442475.02
40        34           1365  2010-01-01    434760.24
41        33           1540  2015-12-09    416858.99
42        21            560  2018-06-03    402274.12
43        20           1715  2012-12-15    388594.07
44        41           2100  2013-06-07    383054.03
45        32            910  2010-01-01    382595.10
46        31           1085  2012-01-07    357130.15
47        26            350  2019-03-05    279774.56
48         1            595  2008-01-01    243029.93
49        18            310  2012-08-08    226078.88
50        15            400  2015-01-01    205119.67
51        16            385  2010-06-03    199009.69
52        28           1200  2012-12-15    187109.49
53        12            350  2012-06-06    183091.04
54        17            350  2007-07-08    159607.50
55        13            245  2013-06-07    150925.12
56        14            350  2009-12-15    105714.05
57         2            665  2008-01-12     15175.99

In [13]:
top_customers_query = """
SELECT 
    m.customerkey,
    SUM(m.Quantity * p.unitpriceusd) AS total_spending
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    m.customerkey
ORDER BY 
    total_spending DESC
LIMIT 10;
"""
top_customers_df = execute_query(top_customers_query)
print("\nTop 10 Customers by Total Spending:\n", top_customers_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Top 10 Customers by Total Spending:
    customerkey  total_spending
0      1702221        61871.70
1      1884663        43517.80
2      1969704        42788.04
3       535496        41521.53
4       551036        40556.54
5       723572        40225.01
6       262871        38813.88
7      1928466        38191.06
8      1503831        37319.88
9      1373561        36817.28

In [14]:
monthly_sales_query = """
SELECT 
    DATE_FORMAT(OrderDate, '%Y-%m') AS month,
    SUM(m.Quantity * p.unitpriceusd) AS total_sales
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    month
ORDER BY 
    month;
"""
monthly_sales_df = execute_query(monthly_sales_query)
print("\nMonthly Sales Performance:\n", monthly_sales_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Monthly Sales Performance:
       month  total_sales
0   2016-01    649918.78
1   2016-02    891098.30
2   2016-03    338407.36
3   2016-04    110591.63
4   2016-05    595986.18
..      ...          ...
57  2020-10    245647.59
58  2020-11    256701.02
59  2020-12    651526.44
60  2021-01    513021.58
61  2021-02    526266.90

[62 rows x 2 columns]

In [15]:
sales_by_category_query = """
SELECT 
    p.category,
    SUM(m.Quantity * p.unitpriceusd) AS total_sales
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    p.category
ORDER BY 
    total_sales DESC;
"""
sales_by_category_df = execute_query(sales_by_category_query)
print("\nSales Performance by Product Category:\n", sales_by_category_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Sales Performance by Product Category:
                         category  total_sales
0                      Computers  19301595.46
1                Home Appliances  10795478.59
2         Cameras and camcorders   6520168.02
3                    Cell phones   6183791.22
4                   TV and Video   5928982.69
5                          Audio   3169627.74
6  Music, Movies and Audio Books   3131006.44
7                 Games and Toys    724829.43

In [16]:

average_order_value_query = """
SELECT 
    AVG(total_order_value) AS average_order_value
FROM (
    SELECT 
        OrderNumber,
        SUM(Quantity * p.unitpriceusd) AS total_order_value
    FROM 
        merged_data m
    JOIN 
        products p ON m.productkey = p.productkey
    GROUP BY 
        OrderNumber
) AS order_totals;
"""
average_order_value_df = execute_query(average_order_value_query)
print("\nAverage Order Value:\n", average_order_value_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Average Order Value:
    average_order_value
0          2117.886484

In [17]:
purchase_frequency_query = """
SELECT 
    m.customerkey,
    COUNT(DISTINCT m.OrderNumber) AS purchase_frequency
FROM 
    merged_data m
GROUP BY 
    m.customerkey
ORDER BY 
    purchase_frequency DESC;
"""
purchase_frequency_df = execute_query(purchase_frequency_query)
print("\nCustomer Purchase Frequency:\n", purchase_frequency_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Customer Purchase Frequency:
        customerkey  purchase_frequency
0           723572                  14
1          2080484                  12
2          1349131                  11
3           522806                  10
4           574327                  10
...            ...                 ...
11882      1660175                   1
11883      1660620                   1
11884      1661010                   1
11885      1661150                   1
11886      1661166                   1

[11887 rows x 2 columns]

In [18]:
sales_trend_query = """
SELECT 
    DATE(OrderDate) AS order_date,
    SUM(m.Quantity * p.unitpriceusd) AS total_sales
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    order_date
ORDER BY 
    order_date;
"""
sales_trend_df = execute_query(sales_trend_query)
print("\nSales Trend Over Time:\n", sales_trend_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Sales Trend Over Time:
       order_date  total_sales
0     2016-01-01     37442.42
1     2016-01-02     91366.94
2     2016-01-03       362.64
3     2016-01-04      9524.94
4     2016-01-05     22996.38
...          ...          ...
1636  2021-02-16     27700.99
1637  2021-02-17     77408.70
1638  2021-02-18     35307.64
1639  2021-02-19     36476.44
1640  2021-02-20     61697.45

[1641 rows x 2 columns]

In [19]:
sales_by_region_query = """
SELECT 
    m.continent,
    SUM(m.Quantity * p.unitpriceusd) AS total_sales
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    m.continent
ORDER BY 
    total_sales DESC;
"""
sales_by_region_df = execute_query(sales_by_region_query)
print("\nSales by Region:\n", sales_by_region_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Sales by Region:
        continent   total_sales
0  North America  3.459597e+07
1         Europe  1.845138e+07
2      Australia  2.708138e+06

In [20]:
top_customers_query = """
SELECT 
    m.customerkey,
    SUM(m.Quantity * p.unitpriceusd) AS total_spending
FROM 
    merged_data m
JOIN 
    products p ON m.productkey = p.productkey
GROUP BY 
    m.customerkey
ORDER BY 
    total_spending DESC
LIMIT 10;
"""
top_customers_df = execute_query(top_customers_query)
print("\nTop 10 Customers by Total Spending:\n", top_customers_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_22700\3056860126.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con)

Top 10 Customers by Total Spending:
    customerkey  total_spending
0      1702221        61871.70
1      1884663        43517.80
2      1969704        42788.04
3       535496        41521.53
4       551036        40556.54
5       723572        40225.01
6       262871        38813.88
7      1928466        38191.06
8      1503831        37319.88
9      1373561        36817.28