In [1]:
import pandas as pd
import mysql.connector
import re
conn = mysql.connector.connect(username= "root",
                               host = "127.0.0.1",
                               password = "Admin@Yunus111",
                               database = "project_2")

cursor = conn.cursor()

In [2]:
df_exchange = pd.read_csv(r'C:\Users\HP\OneDrive\Desktop\dataset\Exchange_Rates.csv')

df_exchange.columns = df_exchange.columns.str.lower()

df_exchange['date'] = pd.to_datetime(df_exchange['date'])

In [3]:
df_exchange.head()

        date currency  exchange
0 2015-01-01      USD    1.0000
1 2015-01-01      CAD    1.1583
2 2015-01-01      AUD    1.2214
3 2015-01-01      EUR    0.8237
4 2015-01-01      GBP    0.6415

In [4]:
insert_exchange_values = '''
INSERT INTO exchange_rates (date, currency, exchange)
VALUES (%s, %s, %s)
'''

for index, row in df_exchange.iterrows():
    cursor.execute(insert_exchange_values, (
        row['date'],
        row['currency'],
        row['exchange']
    ))


conn.commit()